<div class="body">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div>
            <div class="container-fluid">
                <div class="row row-row">
                    <div class="col-md-6">

                        <div class="whetherdata">
                            <h2><strong>wheather App</strong> </h2>
                            <h3>{{temperature}}<sup>0</sup> Celecius</h3>
                            <h2><strong>{{city}}</strong></h2>
                            <div class="row">
                                <div class="right-panel" *ngIf="showData">
                                    <div style="display:inline-block">
                                        <div>Wind: {{wind}}</div>
                                        <div>Pressure: {{pressure}}</div>
                                    </div>


                                </div>
                            </div>


                            <!-- here we can get the data for 7 daya  -->


                            <!-- <div class="row">
                                <div class="row">
                                    <b>Weekly Satus</b>
                            
                                    <h1>{{week2[0]}}ss</h1>
                                    <h1>{{week2[22]}}ss</h1>
                                    <h1>{{week2[29]}}as</h1>
                                    <h1>{{week2[36]}}as</h1>
                                </div>
                            </div> -->


                        </div><br>
                        <div class="inputfields">
                            <form [formGroup]="locationGroup" novalidate>
                                <input #location formControlName="location" placeholder="Type city name" type="text"
                                    id="city" name="city" [required]="true" class="place-input" value="Hyderbad" />
                                <button class="add-city" type="submit"
                                    (click)="onSubmit(locationGroup.controls['location'].value, true)">Get
                                    Weather</button>
                                <div *ngFor="let loc of locationsList">
                                    <span class="location-link" (click)="selectedLocation(loc)">{{loc}}</span>
                                    <span>{{loc}}</span>
                                </div>
                            </form>

                        </div>
                        <br>
                    </div>
                    <div class="col-md-6">
                        <img class="image1" src="../../../assets/weather-illustration.png">
                    </div>
                </div>
            </div>
        </div>